<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Configure upload limits -->
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="104857600" /> <!-- 100MB -->
        </requestFiltering>
      </security>
      
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\manyasligida.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
  
  <!-- Additional system.web settings for classic ASP.NET compatibility -->
  <system.web>
    <httpRuntime maxRequestLength="102400" executionTimeout="3600" /> <!-- 100MB, 1 hour timeout -->
    <compilation debug="false" targetFramework="8.0" />
  </system.web>
</configuration>