<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a48e6938-1919-4790-9f70-52a177bfae52/resourceGroups/ManyasliGida-RG/providers/Microsoft.Web/sites/manyasligida-web-new</ResourceId>
    <ResourceGroup>ManyasliGida-RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://manyasligida-web-new-gyaygrckfpbtg7ey.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f46af84f-dfb3-4dad-bb1f-e7e88f1c00ed</ProjectGuid>
    <MSDeployServiceURL>manyasligida-web-new-gyaygrckfpbtg7ey.scm.westeurope-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>manyasligida-web-new</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA15QWVNa8+U+YSG1Ju3/Z8QAAAAACAAAAAAAQZgAAAAEAACAAAACRiTMjbzi3iY2hI/G3w9zNqUQVY87HUl3DZ5u0bXQRawAAAAAOgAAAAAIAACAAAADPAV0wyDQUHExKPErngydq+BWmWLMT6HtYuIUhN1QBjyAAAAA1ZkLZ5suRLwVeWy4yirFOw6XPtUcrd8K9o3JhZAOnlEAAAACxMMayJ5uAXgZK7mCGYh0XPrxIzxt+Rjin5G39oraRn/yBQAnu8AUd7J97AGkgFfQ/jIwquIyD7sT6aKZYfzX7</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>